/* CSS code */
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-image: url("../assets/pixelwp.jpg");
  align-items: center;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-content: center;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
  pointer-events: none;
}
.container-left{
  font-family: pixelFont;
  font-size: 28px;
  color: white;
  text-shadow: 2px 2px 5px black;

}

.container-left .table h3, .container-left .table p{
  margin: 0% 10%;
  text-align: justify;
  text-justify: inter-word;
}
.container-left .table h3{
  margin-top: 10%;
}
.container-left .table p{
  margin-top: 10%;
}
.container-left,
.container-right {
  pointer-events: all;
  font-family: pixelFont;
  /* testing PURPPOSES */
  /* opacity: 0; */
  /* testing PURPPOSES */
  height: 80vh;
  width: 90%;
  margin: 0;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 0 auto;
  z-index: 3;
  color:white;
}
.canvas-container {
  pointer-events: all;
  text-align: center;
  z-index: 3;
}
#test-canvas {
  z-index: 4;
  width: 900px;
  height: 900px;
  align-self: center;
  background-color: gainsboro;
  -webkit-box-shadow: 0px 0px 60px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 60px 6px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 60px 6px rgba(0, 0, 0, 1);
}
.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  box-shadow: 1px -1px 107px -7px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px -1px 107px -7px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 1px -1px 107px -7px rgba(0, 0, 0, 0.75) inset;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  background-image: url("../assets/mosscbble.png");
  background-size: 100px;

  text-overflow: none;
  z-index: 3;
}
.table:hover {
  animation: bounce 0.5s;
  animation-direction: alternate;
}

#gameoverBtn {
  display: none;
}
#gameoverBtn:hover {
  animation: shake 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}


.floatBtnsRight {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-right: 15px;
  z-index: 3;
}
canvas {
  display: none;
}
.floatBtnsRight .flex-row {
  padding: 10px;
  z-index: 3;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

#startBtn:hover {
  animation: shake 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

#burgerIcon {
  margin-right: 25px;
}
#menu {
  top: 0px;
  left: 0px;
  z-index: 4;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  border-radius: 50px;
  background-image: url("../assets/menubg.jpg");
  opacity: 1;
  box-shadow: 1px -1px 77px 30px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px -1px 77px 30px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 1px -1px 77px 30px rgba(0, 0, 0, 0.75) inset;
}
#menu #closeMenu {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  margin-top: 50px;
  margin-right: 85px;
  font-size: 50px;
}

#health-img,
#healthbar-img {
  margin-top: 30px;
  width: 300px;
  position: absolute;
}
#healthbar-img {
  width: 250px;
  position: absolute;
}
.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  height: 100%;
}
.menu-grid-keys{
  height: 100%;
}
.key{
  width: 25px;
}
.flex-col{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  height: 100%;
}
.textRightScore{
  font-size: 40px;  
  margin: 0;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px black;
}
.score-text{
  margin-top: 130px;
}
.storeClass{
  margin-top: 50px;
}
@font-face {
  font-family: pixelFont;
  src: url(../assets/dpcomic.ttf);
}

/* ANIMATIONS */

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* REVISAR ANIMACIONES */
@keyframes fadeInSlideRight {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes fadeInSlideLeft {
  from {
    margin-right: 100%;
    opacity: 0;
  }
  to {
    margin-right: 0%;
    opacity: 1;
  }
}

@keyframes bounceCat {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(+10px);
  }
  75% {
    transform: translateY(+10px);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
#balloonCat,
#sandwitch {
  position: absolute;
  top: 10px;
  z-index: 2;
  height: 40px;
  animation: bounceCat 6s linear infinite;
}
#sandwitch {
  opacity: 0;
  height: 25px;
}
